@import "variables";
@import "colors";

.container {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;

  .hidden {
    display: none;
  }

  .layout-grid {
    background-color: #fff;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    border-radius: $border-radius;
    border: 0;
    padding: 20px 30px;
    margin-bottom: 20px;
  }

  .game {
    .round {
      &:not(.hidden) {
        margin-bottom: 30px;
      }

      &__word {
        margin-bottom: 10px;
        display: flex;

        .word__letter {
          text-align: center;
          border-radius: $border-radius;
          width: 70px;
          height: 70px;
          font-size: 40px;
          background-color: #0367b6;
          color: #fff;

          &:not(:last-child) {
            margin-right: 20px;
          }

          &--correct {
            background-color: #0d920d;
          }

          &--present {
            background-color: #bfbc00;
          }
        }
      }
    }

    .play-turn {
      margin-top: 40px;
    }

  }

  .sidebar {
    width: 20%;

    .user {
      > div {
        margin-bottom: 10px;
      }

      .logout {
        font-size: 14px;
      }

      button {
        vertical-align: middle;
      }

    }
  }
}

.toast {
  position: absolute;
  bottom: 0;
  left: 50%;
  color: #fff;
  background-color: $toast-default;
  padding: 8px 18px;
  border-radius: $border-radius $border-radius 0 0;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  transform: translateX(-50%);
  transition: $transition;

  &.error {
    background-color: $toast-error;
  }

  &.hidden {
    display: block;
    bottom: -100px;
  }
}

#newDictionaryForm {
  label {
    display: block;

    input {
      margin-bottom: 20px;
      display: block;
    }
  }
}