@import "colors";
@import "variables";

@import "elements";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, body {
  background-color: $primary-background-color;
  font-size: $font-size;
  width: 100%;
  height: 100%;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
}

body {
  padding: 100px;
}